.menu-table {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.auth-reg-card {
    min-width: 380px;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0px 24px 48px 0px rgb(116 116 116 / 20%);
}
.auth-icon {
    margin: 0 auto 16px;
}
.login-text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 16px;
	right: 15px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/assets/images/view.svg) 0 0 no-repeat;
	opacity: .3;
	transition: opacity 0.3s;
}
.password-control:hover {
	opacity: .8;
}
.password-control.view {
	background: url(/assets/images/no-view.svg) 0 0 no-repeat;
}
.field-submit {
    background: #006cff;
}
.field {
    font-size: 16px;
}
.custom-input a {
    margin-left: 5px;
    text-decoration: none;
}
.auth-reg-footer {
    text-align: center;
    font-size: 13px;
    color: #d5d5d5;
    font-weight: 300;
}
.auth-reg-form {
    margin-bottom: 25px;
}
#footer {
    padding: 0 0 0;
}
.copyright-color {
    padding: 0 0 20px;
}
.copyright {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    opacity: 0.6;
}
#footer ul {
    padding-left: 0;
}
.copyright ul {
    position: relative;
    left: 50%;
    float: left;
    padding-left: 0;
}
.copyright ul li {
    position: relative;
    left: -50%;
    float: left;
    padding: 0 10px;
    border-right: #777 solid 1px;
}
ol, ul {
    list-style: none;
}
.copyright li:last-child {
  border-right: none;
}
.element-filter {
    background: #1494eb!important;
    color: #fff!important;
}
.subsubsub a {
    padding: 7px 10px;
    background: #e7ebef;
    border-radius: 25px;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #6a6a6a;
    text-decoration: none;
    margin-left: 2px;
    transition: all .4s;
}
.subsubsub a:hover {
    background: #1494eb;
    color: #fff;
}
.subsubsub a:active {
    background: #3f6dba;
}
.subsubsub {
    margin: 8px 0 0 10px;
}
.menu-table {
    height: 75px;
    padding: 20px 25px;
    background: #ffffff;
    border-bottom: 1px solid #f7f7f7;
}
.table-caption {
    float: left;
    font-size: 17px;
    font-weight: 600;
    margin: 7px 4px 0 0;
    border-right: #f3f3f3 solid 1px;
    padding: 0 10px 0 0;
}
.id-color {
    background: #e7ebef;
    width: 25px;
    height: 25px;
    font-size: 10px;
    color: #565656;
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
}
.status-time {
    background: #e7ebef;
    font-size: 11px;
    margin: 5px 0 0 0;
    padding: 3px 5px 2px 5px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}
.rule-answer {
    display: flex;
    float: right;
    background: #e7ebef;
    margin: -1px 0 0 5px;
    border-radius: 50%;
    padding: 0;
    line-height: 29px;
}
.rule-answer a {
    width: 27px;
    height: 27px;
    text-align: center;
    color: #3a3535;
    text-decoration: none;
}
a.general-btn {
    padding: 0px 15px 6px 13px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin: -1px 0 0 0;
    position: relative;
    color: #e5f9f8;
    border-radius: 25px;
    text-decoration: none;
    background: radial-gradient(ellipse farthest-corner at 27% -65%, #00b1eb 55%, #1494eb 57%);
    transition: all .5s;
}
button#show_more {
    background: #f0f0f0;
    border: #e7e7e7 solid 1px;
    border-radius: 14px;
    font-size: 13px;
    padding: 5px 15px;
}
.logoimg {
    width: 200px;
}
.btn-deletebtn {
    right: 30px;
    position: absolute;
    border: 0;
    padding: 0px 10px 4px 10px;
    border-radius: 4px;
    font-size: 13px;
    background: #f00;
    color: #fff;
    font-weight: 600;
    transition: backdround 0.4s;
}
.btn-deletebtn:hover {
    background: #cf0e0e;;
}
@media only screen and (max-width: 480px) {
    .logoimg {
        width: 160px;
    }
    .auth-reg-form {
        margin-top: 50px;
    }
    .auth-reg-card {
        box-shadow: none;
    }
    .auth-reg-card {
        background: transparent;
    }
    .auth-icon {
        border: #98cee1 3px solid;
        border-radius: 50%;
        box-shadow: 2px 3px 40px 0px rgb(28 13 13 / 32%);
    }
    .copyright ul {
        left: 0;
        float: none;
    }
    .copyright ul li {
        position: relative;
        left: 0;
        float: none;
        padding: 0 10px;
        border-right: none;
    }
    .status-time {
        width: 98%;
    }
    .subsubsub {
        margin: 5px 0 0 0px;
    }
    .subsubsub a {
        padding: 2px 10px;
        font-size: 11px;
        letter-spacing: 0;
        margin-left: 3px;
        margin-bottom: 9px;
        display: block;
    }
    .table-caption {
        font-size: 16px;
        border-right: none;
    }
    .menu-table {
        height: 58px;
        padding: 10px 10px;
    }
    .table-responsive {
        border: 0px solid #ddd!important;
    }
    .rule-answer {
        margin: 4px 0 0 5px;
        line-height: 21px;
    }
    .rule-answer a {
        width: 18px;
        height: 18px;
        font-size: 12px;
    }
    a.general-btn {
        margin: 15px 0 0px 0;
        position: inherit;
        /*float: left;*/
        border-radius: 8px;
    }
    .border-bottom {
        padding: 15px 0 15px 0;
        background: #eef6ff;
    }
    .hide-mobile {
        display: none;
    }
    .menu-table-filter {
        width: 0;
    }
    button#show_more {
        margin: 20px 0 25px 0;
    }
    .dropdown-content {
    /* display: none; */
        right: 20px;
        top: 48px;
    }
}