body {
  font-family: sans-serif;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background: #eef6ff; 
  height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
header{
  /*padding: 1rem 0;*/
}
header a{
  text-decoration: none;
}
select, option{
  cursor: pointer;
}
h1 {
  font-size: 30px;
  color: #2b2b2b;
  margin: 10px 0 40px 0;
}
h2 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  padding: 0 240px;
  font-weight: 300;
}
table{
    /*font-size: 13px;*/
    font-size: 12px;
    background: #fff;
}
td{
  vertical-align: middle !important;
}

input[type=file] {
    outline: none
}
img{
    width: 100%;
}
.h4 {
    font-size: 16px;
    font-weight: 600;
}
#table-zayavka th{
    border: 1px solid #ddd !important;
    text-align: left;
    background-color: #0060aa;
    color: white;
}
#table-zayavka tr:nth-child(even) {
    background-color: #f6f6f6;
}
.tab-mobile tr:nth-child(even){
    background-color: #fff !important;
}
/*////////////////////////////style-test////////////////////////////////*/
.menu-table,
.head-table{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.auth-reg-card {
    min-width: 380px;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0px 24px 48px 0px rgb(116 116 116 / 20%);
}
.auth-icon {
    margin: 0 auto 16px;
}
.login-text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 16px;
	right: 15px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/assets/images/view.svg) 0 0 no-repeat;
	opacity: .3;
	transition: opacity 0.3s;
}
.password-control:hover {
	opacity: .8;
}
.password-control.view {
	background: url(/assets/images/no-view.svg) 0 0 no-repeat;
}
.field-submit {
    background: #006cff;
}
.field {
    font-size: 16px;
}
.custom-input a {
    margin-left: 5px;
    text-decoration: none;
}
.auth-reg-footer {
    text-align: center;
    font-size: 13px;
    color: #d5d5d5;
    font-weight: 300;
}
.auth-reg-form {
    margin-bottom: 25px;
}
#footer {
    padding: 0 0 0;
}
.copyright-color {
    padding: 0 0 20px;
}
.copyright {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    opacity: 0.6;
}
#footer ul {
    padding-left: 0;
}
.copyright ul {
    position: relative;
    left: 50%;
    float: left;
    padding-left: 0;
}
.copyright ul li {
    position: relative;
    left: -50%;
    float: left;
    padding: 0 10px;
    border-right: #777 solid 1px;
}
ol, ul {
    list-style: none;
}
.copyright li:last-child {
  border-right: none;
}
.element-filter {
    background: #1494eb!important;
    color: #fff!important;
}
.subsubsub a {
    padding: 7px 10px;
    background: #e7ebef;
    border-radius: 25px;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #6a6a6a;
    text-decoration: none;
    margin-left: 2px;
    transition: all .4s;
}
.subsubsub a:hover {
    background: #1494eb;
    color: #fff;
}
.subsubsub a:active {
    background: #3f6dba;
}
.subsubsub {
    margin: 8px 0 0 10px;
}
.menu-table,
.menu-table1,
.head-table{
    height: 75px;
    padding: 20px 15px;
    background: #ffffff;
    border-bottom: 1px solid #f7f7f7;
}
.table-caption {
    float: left;
    font-size: 17px;
    font-weight: 600;
    margin: 7px 4px 0 0;
    border-right: #f3f3f3 solid 1px;
    padding: 0 10px 0 0;
}
.id-color {
    background: #e7ebef;
    width: 25px;
    height: 25px;
    font-size: 10px;
    color: #565656;
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
}
.status-time {
    background: #e7ebef;
    font-size: 11px;
    margin: 5px 0 0 0;
    padding: 3px 5px 2px 5px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}
.rule-answer {
    display: flex;
    float: right;
    background: #e7ebef;
    margin: -1px 0 0 5px;
    border-radius: 50%;
    padding: 0;
    line-height: 29px;
}
.rule-answer a {
    width: 27px;
    height: 27px;
    text-align: center;
    color: #3a3535;
    text-decoration: none;
}
a.general-btn {
    padding: 0px 15px 6px 13px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin: -1px 0 0 0;
    position: relative;
    color: #e5f9f8;
    border-radius: 25px;
    text-decoration: none;
    background: radial-gradient(ellipse farthest-corner at 27% -65%, #00b1eb 55%, #1494eb 57%);
    transition: all .5s;
}
.btn-second {
  background: radial-gradient(ellipse farthest-corner at 27% -65%, #3dda2a 55%, #10cd42 57%) !important;
}
button #show_more {
    background: #f0f0f0;
    border: #e7e7e7 solid 1px;
    border-radius: 14px;
    font-size: 13px;
    padding: 5px 15px;
}
.logoimg {
    width: 200px;
}
.btn-deletebtn {
    right: 30px;
    position: absolute;
    border: 0;
    padding: 0px 10px 4px 10px;
    border-radius: 4px;
    font-size: 13px;
    background: #cf0000;
    color: #fff;
    font-weight: 600;
    transition: backdround 0.4s;
}
.btn-deletebtn:hover {
    background: #cf0e0e;
}

.btn-edit {
    right: 30px;
    position: absolute;
    border: 0;
    padding: 0px 10px 4px 10px;
    border-radius: 4px;
    font-size: 13px;
    background: #00b1eb;
    color: #fff;
    font-weight: 600;
    transition: backdround 0.4s;
}
.btn-edit:hover {
    background: #0099cc;;
}

.btn-save {
    right: 30px;
    position: absolute;
    border: 0;
    padding: 0px 10px 4px 10px;
    border-radius: 4px;
    font-size: 13px;
    background: #00b524;
    color: #fff;
    font-weight: 600;
    transition: backdround 0.4s;
}
.btn-save:hover {
    background: #00a921;;
}
.btn-cancel {
    right: 152px;
    position: absolute;
    border: 0;
    padding: 7px 10px 4px 10px;
    border-radius: 4px;
    font-size: 13px;
    background: #cf0000;
    color: #fff;
    font-weight: 600;
    transition: backdround 0.4s;
}
.btn-cancel:hover {
    background: #cf0e0e;;
}
@media only screen and (max-width: 480px) {
    .logoimg {
        width: 160px;
    }
    .auth-reg-form {
        margin-top: 50px;
    }
    .auth-reg-card {
        box-shadow: none;
    }
    .auth-reg-card {
        background: transparent;
    }
    .auth-icon {
        border: #98cee1 3px solid;
        border-radius: 50%;
        box-shadow: 2px 3px 40px 0px rgb(28 13 13 / 32%);
    }
    .copyright ul {
        left: 0;
        float: none;
    }
    .copyright ul li {
        position: relative;
        left: 0;
        float: none;
        padding: 0 10px;
        border-right: none;
    }
    .status-time {
        width: 98%;
    }
    .subsubsub {
        margin: 5px 0 0 0px;
    }
    .subsubsub a {
        padding: 2px 10px;
        font-size: 11px;
        letter-spacing: 0;
        margin-left: 3px;
        margin-bottom: 9px;
        display: block;
    }
    .table-caption {
        font-size: 16px;
        border-right: none;
    }
    .menu-table,
    .menu-table1{
        height: 58px;
        padding: 10px 10px;
    }
    .table-responsive {
        border: 0px solid #ddd!important;
    }
    .rule-answer {
        margin: 4px 0 0 5px;
        line-height: 21px;
    }
    .rule-answer a {
        width: 18px;
        height: 18px;
        font-size: 12px;
    }
    a.general-btn {
        /* margin: 15px 0 0px 0; */
        margin: 0;
        position: inherit;
        /*float: left;*/
        border-radius: 8px;
    }
    .border-bottom {
        padding: 15px 0 15px 0;
        background: #eef6ff;
    }
    .hide-mobile {
        display: none !important;
    }
    .menu-table-filter {
        width: 0;
    }
    button#show_more {
        margin: 20px 0 25px 0;
    }
    .dropdown-content {
    /* display: none; */
        right: 20px;
        top: 48px;
    }
}
/*///////////////////////////////////////////////////////*/

.form-control {
    outline: none
}
.table-bordered>tbody>tr>td{
  border: none !important;
}
.table>tbody>tr>td {
    border-top: 2px solid #eef6ff !important;
}
.tab-vet th, .tab-vet td{
  border: 1px solid #ececec !important;
}
.application td {
    border: 1px solid #ececec !important;
}
th {
    border: none !important;
    color: #000000;
    font-weight: 600;
    font-size: 12px;
    /*padding: 25px 15px 21px 10px!important;*/
    padding: 10px !important;
    background: #fbfbfb;
}
th a {
  color: #fff;
  text-decoration: none;
}
th a:focus, th a:hover {
  color: #fff;
  text-decoration: underline;
}
label {
    font-weight: 400;
    color: #959DA5;
    font-size: 12px;
    margin: 8px 0 0 0;
}
a{
  font-size: 14px;
  font-weight: 500;
}
.content{
  margin: 30px 0;
}
#auth img {
    width: auto;
}

/*fancybox*/
#hide-form-popup-select-vet,
#hide-form-popup-edit-foto,
#hide-form-popup-edit-video,
#hide-form-popup-edit-foto-vet,
#hide-form-popup-edit-video-vet,
#hide-form-popup-edit-foto-vipusk,
#hide-form-popup-edit-video-vipusk,
#hide-form-popup-edit-card,
#hide-form-popup-add-card-vet,
#hide-form-popup-edit-card-vet,
#hide-form-popup-edit-foto,
#hide-form-popup-status, 
#hide-form-popup-die,
#hide-form-popup-die1,
#hide-form-popup-num_aviary,
#hide-form-popup-num_aviary1,
#hide-form-popup-perezaseleno,
#hide-form-popup-vladelets,
#hide-form-popup-edit-owner,
#hide-form-popup-shelter,
#hide-form-popup-add-contract,
#hide-form-popup-edit-contract{
  max-width: 600px;
  background: #f5f5f5;
  text-align: center;
  transition-property: min-height, background;
  transition-duration: 1s;
}
.hideform {
  display: none;
  width: 100%;
  padding: 30px 50px 40px 50px;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(-50px);
  transition: all .7s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.fancy-animate .title,
.fancy-animate p,
.fancy-animate a,
.fancy-animate span,
.fancy-animate input,
.fancy-animate select,
.fancy-animate textarea,
.fancy-animate span,
.fancy-animate i,
.fancy-animate .check_box_group,
.fancy-animate .social-send {
  transform: translateY(-50px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: .4s;
}
.fancybox-slide--current .fancy-animate,
.fancybox-slide--current .fancy-animate .title,
.fancybox-slide--current .fancy-animate p,
.fancybox-slide--current .fancy-animate a,
.fancybox-slide--current .fancy-animate i,
.fancybox-slide--current .fancy-animate input,
.fancybox-slide--current .fancy-animate select,
.fancybox-slide--current .fancy-animate span,
.fancybox-slide--current .fancy-animate textarea,
.fancybox-slide--current .fancy-animate .check_box_group,
.fancybox-slide--current .fancy-animate .social-send {
  transform: translateY(0);
  opacity: 1;
}
.fancybox-slide--current .fancy-animate .title {
  transition-delay: .1s;
}
.fancybox-slide--current .fancy-animate p,
.fancybox-slide--current .fancy-animate a,
.fancybox-slide--current .fancy-animate input,
.fancybox-slide--current .fancy-animate span,
.fancybox-slide--current .fancy-animate select,
.fancybox-slide--current .fancy-animate i {
  transition-delay: .3s;
}
.fancybox-slide--current .fancy-animate textarea {
  transition-delay: .3s;
}
.fancybox-slide--current .fancy-animate .check_box_group,
.fancybox-slide--current .fancy-animate .social-send {
  transition-delay: .5s;
}
#popup-status-results, 
#popup-die-results {
  font-size: 22px;
}

#hide-form-popup-select-vet,
#hide-form-popup-edit-foto,
#hide-form-popup-edit-video,
#hide-form-popup-edit-foto-vet,
#hide-form-popup-edit-video-vet,
#hide-form-popup-edit-foto-vipusk,
#hide-form-popup-edit-video-vipusk,
#hide-form-popup-edit-card,
#hide-form-popup-add-card-vet,
#hide-form-popup-edit-card-vet,
#hide-form-popup-edit-foto,
#hide-form-popup-status, 
#hide-form-popup-die,
#hide-form-popup-die1,
#hide-form-popup-num_aviary,
#hide-form-popup-num_aviary1,
#hide-form-popup-perezaseleno,
#hide-form-popup-vladelets,
#hide-form-popup-edit-owner,
#hide-form-popup-shelter{
  max-width: 600px;
  background: #fff;
  text-align: center;
  transition-property: min-height, background;
  transition-duration: 1s;
}
#hide-form-popup-add-contract,
#hide-form-popup-edit-contract{
  max-width: 800px;
  background: #fff;
  text-align: center;
  transition-property: min-height, background;
  transition-duration: 1s;
}

#hide-form-popup-select-vet p,
#hide-form-popup-edit-foto p,
#hide-form-popup-edit-video p,
#hide-form-popup-edit-foto-vet p,
#hide-form-popup-edit-video-vet p,
#hide-form-popup-edit-foto-vipusk p,
#hide-form-popup-edit-video-vipusk p,
#hide-form-popup-edit-card p,
#hide-form-popup-edit-card-vet p,
#hide-form-popup-add-card-vet p,
#hide-form-popup-edit-foto p,
#hide-form-popup-status p,
#hide-form-popup-die p,
#hide-form-popup-die1 p,
#hide-form-popup-num_aviary p,
#hide-form-popup-num_aviary1 p,
#hide-form-popup-perezaseleno p,
#hide-form-popup-vladelets p,
#hide-form-popup-edit-owner p,
#hide-form-popup-shelter p,
#hide-form-popup-add-contract p,
#hide-form-popup-edit-contract p {
  text-align: left;
}

#hide-form-popup-select-vet label,
#hide-form-popup-add-card-vet label,
#hide-form-popup-edit-foto label,
#hide-form-popup-edit-video label,
#hide-form-popup-edit-foto-vet label,
#hide-form-popup-edit-video-vet label,
#hide-form-popup-edit-foto-vipusk label,
#hide-form-popup-edit-video-vipusk label,
#hide-form-popup-edit-foto label,
#hide-form-popup-edit-card label,
#hide-form-popup-add-contract label,
#hide-form-popup-edit-contract label {
    font-weight: 400;
    color: #959DA5;
    font-size: 14px;
    margin: 8px 0 0 0;
    text-align: left;
    display: block;
}

#hide-form-popup-select-vet h3,
#hide-form-popup-edit-foto h3,
#hide-form-popup-edit-video h3,
#hide-form-popup-edit-foto-vet h3,
#hide-form-popup-edit-video-vet h3,
#hide-form-popup-edit-foto-vipusk h3,
#hide-form-popup-edit-video-vipusk h3,
#hide-form-popup-edit-foto h3,
#hide-form-popup-add-card-vet h3,
#hide-form-popup-edit-card h3,
#hide-form-popup-edit-card-vet h3,
#hide-form-popup-add-contract h3,
#hide-form-popup-edit-contract h3 {
    font-size: 20px;
    font-weight: 600;
}

#hide-form-popup-select-vet .field,
#hide-form-popup-edit-card-vet .field,
#hide-form-popup-edit-foto .field,
#hide-form-popup-edit-video .field,
#hide-form-popup-edit-foto-vet .field,
#hide-form-popup-edit-video-vet .field,
#hide-form-popup-edit-foto-vipusk .field,
#hide-form-popup-edit-video-vipusk .field,
#hide-form-popup-add-card-vet .field,
#hide-form-popup-edit-foto .field,
#hide-form-popup-edit-card .field,
#hide-form-popup-add-contract .field,
#hide-form-popup-edit-contract .field {
    padding: 12px 15px;
}

/*dropdown*/
.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  font-size: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  border-radius: 8px;
  z-index: 1;
}

.dropdown-content a {
    color: #2e2e2e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    background: #fff;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.message-alert {
    background: #ff3e3e;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50px;
    font-size: 11px;
}

/* /dropdown*/

.border-bottom {
    padding: 15px 0 8px 0;
    background: #fff;
    box-shadow: #00000012 0px 3px 30px 6px;
}
.btn {
  background-color: transparent; 
  border-radius: 8px;
  color: #3e3e3e;
  font-weight: 400;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  color: #333333;
  font-weight: 500;
}
.hover-but:hover{
  background-color: #e6f0ff!important;
  cursor: pointer;
}
.content-form{
  padding: 30px 40px;
  background: #fff;
  border-radius: 15px;
}
.field{
  display: block;
  /* margin: 0 auto 25px auto; */
  font-size: 14px;
  font-weight: 100;
  background: #f0f0f0;
  outline: none !important;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  color: #000;
  width: 100%;
  /*min-width: 320px;*/
  min-height: 52px;
  font-weight: 300;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.field:focus {
  background-color: #fff;
  border-color: #337ab7;
  box-shadow: 0 0 0 0.2rem rgb(66 124 120 / 25%);
  color: #495057;
  outline: 0;
}
.field-filter {
    display: block;
    font-size: 11px;
    background: #f0f0f0;
    outline: none !important;
    border: none;
    padding: 0px 10px;
    margin: 0 8px;
    border-radius: 8px;
    color: #494e52;
    min-height: 32px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.field-filter-mobile{
    font-size: 12px;
    background: #fff;
    display: block;
    outline: none !important;
    border: none;
    padding: 0px 10px;
    margin-right: 10px;
    border-radius: 8px;
    color: #494e52;
    min-height: 32px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.field-filter:focus {
  background-color: #fff;
  border-color: #337ab7;
  box-shadow: 0 0 0 0.2rem rgb(66 124 120 / 25%);
  color: #495057;
  outline: 0;
}
.field-submit, .field-submit1 {
  outline: none !important;
  background: #006cff;
  color: #fff !important;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  
  /*width: 320px;*/
  height: 52px;
  line-height: 2.7;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s;
}
.field-submit:hover, 
.field-submit1:hover{
  background: #043b8d;
  color: #fff;
}
.field-submit:focus,
.field-submit1:focus{
  color: #fff;
}
.width-add{
  width: 100%;
}
.field-date{
  line-height: normal !important;
}
.width-submit{
  margin: 20px auto 0 auto;
  display: block;
  /*width: 20% !important;*/
  width: 200px;
}
.itcss__item {
  transform: translateX(0px) !important;
}
/*Поиск*/
.display-div{
  position: absolute;
  background: #fff;
  z-index: 999;
  text-align: left;
  width: 70%;
  height: auto;
  margin-top: -10px;
  box-shadow: rgba(213,213,213,.35) 0 8px 16px;
  max-height: 200px;
  overflow: auto;
}
.display-div ul{
  margin: 0;
  padding: 10px 15px;
}
.display-div li{
  list-style: none;
  padding: 2px 17px;
}
.display-div li a{
  color: #333333;
  cursor: pointer;
}
.display-div li a:active > .display-div{
  display: none;
}
/* /Поиск*/

.application{
  cursor: pointer;
}
tr.application {
    background: #fff;
}
tr.application:hover {
    background: #dfeeff !important;
}
.edit_app_checkbox,
.del_app_checkbox {
    background: #dfeeff !important;
}
.header_fixed {
  position: fixed;
  /*left: 0;*/
  top: 0;
  z-index: 99;
  box-shadow: 0 13px 28px -3px rgb(0 0 0 / 20%);
}

/*slider*/
.slider__items {
  counter-reset: slide;
}

.slider__item {
  counter-increment: slide;
}

.slider__item>div::before {
  content: counter(slide);
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
}

/* Hide Form Animation */

.results-zayavka, 
.results-edit, 
.results-opisanie, 
.results-naryad, 
.results-scan,
.results-notif{
  display: none;
  text-align: left;
}
#popup-zayavka-results, 
#popup-edit-results, 
#popup-edit-operator-results, 
#popup-opisanie-results, 
#popup-naryad-results, 
#popup-scan-results,
#popup-notif-results {
  font-size: 22px;
}

.fancy-animate .title,
.fancy-animate p,
.fancy-animate a,
.fancy-animate span,
.fancy-animate input,
.fancy-animate select,
.fancy-animate textarea,
.fancy-animate span,
.fancy-animate i,
.fancy-animate .check_box_group,
.fancy-animate .social-send {
  transform: translateY(-50px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: .4s;
}
.fancybox-slide--current .fancy-animate,
.fancybox-slide--current .fancy-animate .title,
.fancybox-slide--current .fancy-animate p,
.fancybox-slide--current .fancy-animate a,
.fancybox-slide--current .fancy-animate i,
.fancybox-slide--current .fancy-animate input,
.fancybox-slide--current .fancy-animate select,
.fancybox-slide--current .fancy-animate span,
.fancybox-slide--current .fancy-animate textarea,
.fancybox-slide--current .fancy-animate .check_box_group,
.fancybox-slide--current .fancy-animate .social-send {
  transform: translateY(0);
  opacity: 1;
}
.fancybox-slide--current .fancy-animate .title {
  transition-delay: .1s;
}
.fancybox-slide--current .fancy-animate p,
.fancybox-slide--current .fancy-animate a,
.fancybox-slide--current .fancy-animate input,
.fancybox-slide--current .fancy-animate span,
.fancybox-slide--current .fancy-animate select,
.fancybox-slide--current .fancy-animate i {
  transition-delay: .3s;
}
.fancybox-slide--current .fancy-animate textarea {
  transition-delay: .3s;
}
.fancybox-slide--current .fancy-animate .check_box_group,
.fancybox-slide--current .fancy-animate .social-send {
  transition-delay: .5s;
}
textarea {
  display: block;
  margin: 0 auto 13px auto;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #fff;
  outline: none !important;
  border: #fff solid 1px;
  padding: 9px 25px 8px 35px;
  border-radius: 10px;
  width: 80%;
  /*min-width: 257px;*/
  min-height: 92px;
  box-shadow: rgba(213,213,213,.35) 0 8px 16px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  /*color: red;*/
}
.hideform {
  display: none;
  width: 100%;
  padding: 30px 50px 40px 50px;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(-50px);
  transition: all .7s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.form-zayavka{
  /*display: flex;*/
  width: 100%;
}
.form-zayavka p{
  width: 30%;
}
.form-zayavka input{
  width: 70%;
}

/*login.php - AuthForm*/
.custom-title{
  text-transform: uppercase;
  color: #043b8d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.custom-title span{
  color: #f6b10c;
}
.content-title{
  font-size: 30px;
  border-radius: 10px 10px 0 0;
}
.content-title-logo {
    font-size: 24px;
    text-align: center;
}
.content-title-reg{
  font-size: 24px;
  color: #043b8d;
  font-weight: 500;
  margin-bottom: 30px;
}
.auth-icon{
  display: block;
  margin: 40px auto 25px;
}
.auth-reg-form {
  margin-top: 110px;
  margin-bottom: 110px;
  justify-content: center!important;
  display: flex!important;
}
.auth-reg-form label{
  color: #043b8d;
}
.custom-input a{
  line-height: 3;
}
.auth-reg-card{
  align-self: center!important;
  background: #fff;
  /*padding: 35px 30px 17px;*/
  padding: 0 30px 17px;
  border-radius: 15px;
  min-width: 386px;
}
.auth-reg-form i.fas {
  width: 26px;
  height: 26px;
  line-height: 54px;
  text-align: center;
  margin-right: -66px;
  margin-left: 40px;
  position: relative;
  z-index: 1;
  float: left;
  color: #bbb;
}
.error{
  color: red;
  display: block;
  font-size: 14px;
  text-align: center;
}
.form-text{
  font-size: 14px;
}
.form-group {
  margin-bottom: 20px;
}
.row-right{
  text-align: right;
}
.row-left{
  text-align: left;
}
table.text  {
  width:  100%;
  border-spacing: 0;
}
table.text td {
  width: 50%;
  vertical-align: top;
}
.second-but{
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
  width: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s;
}
.second-but a:hover{
  text-decoration: underline;
}
.second-but a{
  text-decoration: none;
}
.generate{
  border: none;
  background: none;
  color: #043b8d;
  margin-bottom: 20px;
}

/*Загрузка файлов*/
.form-row {
  margin-bottom: 15px;
}
.form-row label {
  display: block;
  color: #777;
  margin-bottom: 5px;
}
.form-row input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
 
/* Стили для вывода превью */
.media-item {
  display: inline-block;
  margin: 0 20px 20px 0;
  position: relative;
  user-select: none;
}
.media-item img {
  border: 1px solid #d9d9d9;
}
.media-item a {
  display: inline-block;
  background: url(/assets/images/remove.png) 0 0 no-repeat;
  position: absolute;
  top: -5px;
  right: -9px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.subsubsub {
  list-style: none;
  margin: 4px 0 0;
  padding: 0;
  font-size: 13px;
  float: left;
  color: #646970;
}
.subsubsub li {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.subsubsub a {
  line-height: 2;
  padding: 10px 15px;
}

.media-container{
  margin: 30px auto;
}

.del{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.watch_video{
  text-decoration: underline;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 16px;
  left: 360px;
  width: 120px;
  color: #b94a48;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #eed3d7;
  background-color: #f2dede;
  opacity: 0.8;
}

.tooltip b {
  position: absolute;
  display: block;
  left: -14px;
  width: 0;
  height: 0;
  color: transparent;
  border: 7px solid;
  border-right-color: #f2dede;
}

.table-img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.logo-link{
  text-decoration: none !important;
}
.location {
    font-size: 15px;
    color: #888d93;
    font-weight: 400;
}
i {
  margin-right: 8px;
}
.fa, .fas {
  padding-top: 10px;
}
.content-top-menu{
  text-align: right;
}
.menu_icon{
  display: flex;
  float: right;
}
.menu_icon img{
  height: 38px;
}
.menu_icon .fa, .menu_icon .fas{
  padding-top: 0;
}
.btn.focus, .btn:focus, .btn:hover {
    /*color: #043b8d;*/
}
.container-head{
  display: flex;
  width: 100%;
}
.block-logo{
  width: 17%;
}
.block-loc, .block-down{
  width: 25%;
}
.block-menu{
  width: 33%;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
  vertical-align: inherit !important;
}
.menu-table,
.menu-table1{
  width: 1422px;
  background: #fff;
  height: 64px;
  /*padding: 10px 0;*/
}
.menu-table-mobile{
  background: none !important;
  height: 64px;
  width: 100%;
}
.menu-table-filter {
    /*width: 85%;*/
    /*background: #fff;*/
    height: 50px;
    padding: 10px 0;
    display: flex;
    margin: -7px 0 0 0;
}
.content-mobile .menu-table{
  width: 100%;
  background: #fff;
  height: 64px;
  padding: 10px 0;
}
.content-mobile .menu-table-filter {
    height: 50px;
    padding: 10px 0;
    display: flex;
    margin: -7px 0 0 0;
}
.table>tbody>tr>td {
  padding: 5px 8px;
}
.table-bordered {
  border: none;
}
#carouselExampleControls img{
  width: 100%;
  min-height: 320px;
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
  width: auto;
  height: 400px;
}
.button-card{
  text-align: center;
}
.btn-card{
  margin: 20px 10px;
}
.edit-app{
  text-align: center;
  /*background: #fcf7ea;*/
  background: #0060aa;
}
.edit-app a{
  color: #fff;
}
.form-control {
  display: block;
  width: -webkit-fill-available;
  height: 34px;
  padding: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: none;
}
.but-vet{
    margin: 40px 0;
}
.wrapper{
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
}

.carousel-inner {
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.vid{
    width: 100%;
}
.vid-item{
    /*width: 50%;*/
    display: inline-block;
    /*float: left;*/
}
.vid-wrap{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-top: 20px;*/
    margin: auto;
    width: 98%;
}
.vid-wrap video{
    width: 100%;
    cursor: pointer;
}
.edit-table a{
    float: right;
}

.ds-loading {
 background-image: url("../template/loader.gif");
 background-repeat: no-repeat;
 position: fixed;
 width: 100%;
 height: 100%;
 z-index: 9999999;
 left: 46% !important;
 top: 40% !important;
}

.table-otchet{
  width: 100%;
  background: none;
}

.menu-table,
.menu-table1,
.icon-table{
    display: flex;
}
.icon-table a {
    cursor: pointer;
    background: #f0f0f0;
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 12px;
    display: inline-block;
    line-height: 26px;
    border-radius: 4px;
    color: #333;
}
.table-otchet-r {
    font-size: 12px;
    background: none;
    display: block;
    margin: 0 30px;
}
.table-otchet-r th,
.table-otchet-r td{
    border: 1px solid #0c0c0c !important;
    color: #000000;
    /*font-weight: 600;*/
    font-size: 9px;
    padding: 0px 5px 0px 5px !important;
}
.table-otchet-r td a {
    font-size: 9px;
}
.media-block a,
.vid a{
    display: block;
    text-align: right;
}
.vet-block{
    margin-top: 40px;
}
.block-vid{
    margin-top: 20px;
}
.block-content-card{
    background: rgba(255,255,255, 0.8);
    border-radius: 20px;
    padding: 30px 20px;
}
.block-content-card p{
    text-align: center;
}
.block-main{
    margin-bottom: 50px;    
}
.tab-vet-edit {
    text-align: right;
    display: block;
}
.mobile-vet {
    display: none;
}
.desktop-vet {
    display: block;
}
.center-block {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 400px;
}
/*#table2excel tr,*/
/*#table2excel td{*/
/*    border: 1px solid #000;*/
/*}*/

/*.table-otchet{*/
/*    border: 1px solid #b0b0b0;*/
/*    width: 100%;*/
/*    background: none;*/
/*}*/
/*.table-otchet th{*/
/*    border: 1px solid #b0b0b0;*/
/*    background: none;*/
    
/*}*/
/*.table-otchet td{*/
/*    border: 1px solid #b0b0b0;*/
/*    background: none;*/
/*}*/

@media print {
  .hide-from-printer{  display:none; }
}


@media not all, (-webkit-transform-3d){
  .carousel-inner>.item.active, 
  .carousel-inner>.item.next.left, 
  .carousel-inner>.item.prev.right {
      
    /*max-height: 320px;*/
  }
}

@media (min-width: 1200px){
    .container {
        width: 1452px !important;
    }
    .carousel {
        height: 400px;
        background: #c9c9c9;
    }
}

@media (max-width: 991px) {
  /* .location {
    display: none;
  } */
  .content-top-menu {
    text-align: center;
  }
  .hover-but{
    background: #e6f0ff;
  }
}
@media (max-width: 767px) {
  .content-title-logo {
    text-align: left;
  }
  .menu_icon {
    float: none;
    margin: 0 auto;
    width: fit-content;
    position: absolute;
    right: 0;
    top: -40px;
  }
  .carousel-inner>.item>a>img,
  .carousel-inner>.item>img {
    width: auto;
    height: auto;
  }

  @media not all, (-webkit-transform-3d){
    .carousel-inner>.item.active, 
    .carousel-inner>.item.next.left, 
    .carousel-inner>.item.prev.right {
      height: auto;
    }
  }
}
@media (min-width: 576px) {
  
}
@media (min-width: 480px) { /*Если меньше, то меньше*/
    .field-submit {
        width: 320px;
    }
    .field-submit1 {
        /*width: 264px;*/
    }
}
@media (max-width: 480px) { /*Если меньше, то меньше*/
    .field-width {
        width: 320px;
        /*width: 285px;*/
    }
    .location {
      text-align: center;
      font-size: 13px;
    }
    .ds-loading {
        left: 26% !important;
        top: 20% !important;
    }
    .menu_icon {
        /* top: -30px; */
        top: -66px;
    }
    .block-icon{
      position: absolute;
    }
    .menu_icon img {
        height: 29px;
    }
    .dropbtn {
        padding-left: 6px;
    }
    h1 {
        font-size: 18px;
        margin: 0 0 15px 0;
        text-align: center;
    }
    .content {
        margin: 20px 0;
    }
    #hide-form-popup-select-vet h3, 
    #hide-form-popup-edit-foto h3, 
    #hide-form-popup-edit-video h3, 
    #hide-form-popup-edit-foto-vet h3, 
    #hide-form-popup-edit-video-vet h3, 
    #hide-form-popup-edit-foto-vipusk h3, 
    #hide-form-popup-edit-video-vipusk h3, 
    #hide-form-popup-edit-foto h3, 
    #hide-form-popup-add-card-vet h3, 
    #hide-form-popup-edit-card h3, 
    #hide-form-popup-edit-card-vet h3 {
        font-size: 16px;
        font-weight: 600;
    }
    .hideform {
        padding: 25px;
    }
    .mobile-vet {
        display: block;
        text-align: left;
    }
    .desktop-vet {
        display: none;
    }
    .td-width{
        min-width: 100px;   
    }
    .vid {
        margin-top: 20px;
    }
   
}

.bottom-reg{
  margin-bottom: 60px;
}

/*//////////////// Mobile //////////////////////*/
.content-mobile {
    margin: 10px 0;
}
.content-mobile .tab-mobile {
    background: none;
}
.content-mobile .application-mobile {
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
    background: #fff;
}
.content-mobile .application-mobile td {
    display: block;
    padding: 8px 9px;
}
.content-mobile .block-head {
    display: flex;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 9px;
    line-height: 1.6;
}
.content-mobile .block-head .id-color {
    width: 15px;
    height: 15px;
    font-size: 8px;
    line-height: 2;
    margin-right: 5px;
    font-weight: 300;
}
.content-mobile .block-head-date{
    padding-right: 5px;
    border-right: 1px solid #cdcdcd;    
}
.content-mobile .block-head-adress{
    margin-left: 5px;
    font-size: 9px;
    line-height: 1.1;
    margin-top: 3px;
}
.content-mobile .block-head-status{
    margin-left: auto;  
    background: #c8ecfc;
    color: #3b8167;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 9px;
    line-height: 1.8;
    position: absolute;
    right: 25px;
}
.die-color{
    background: #fcc8c8 !important;
    color: #813b3b !important;
}

.content-mobile .application-mobile .table-img {
    width: 75px;
    height: 75px;
}
.content-mobile .block-content {
    display: flex;
    font-size: 10px;
    line-height: 1.6;
}
.content-mobile .application-mobile ul {
    padding-left: 15px;
    margin-bottom: 5px;
}
.content-mobile .application-mobile ul li {
    list-style-type: "- ";
}
.content-mobile .field-filter {
    font-size: 9px;
    padding: 0px 6px;
    margin-right: 8px;
    margin-left: 0;
    border-radius: 8px;
    background: #fff;
}
.content-mobile .mobile-label p {
    line-height: 1;
    font-size: 9px;
    margin-bottom: 3px;
    color: #333;
}
.content-mobile .menu-table-filter {
    height: 50px;
    padding: 0;
    display: flex;
    margin: 0;
}
.content-mobile .status-time {
    background: none; 
    font-size: 9px;
    margin: 0;
    padding: 0;
    
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}
.d-mob {
    height: 30px;
}

/* Checkbox */
.check {
  width: 1165px;
  margin: 0 auto;
  display: flex;
}

.lb1 {
  margin: 2em;
}

#highload1 {
  display: none;
}

#highload1+.lb1,
#highload1+.lb1::before,
#highload1+.lb1::after {
  transition: all .3s;
}

#highload1+.lb1 {
  display: inline-block;
  position: relative;
  width: 114px;
  height: 34px;
  border-radius: 30px;
  cursor: pointer;
  margin: 0;
}

#highload1+.lb1::before {
  display: block;
  content: attr(data-offlabel);
  position: absolute;
  top: 8px;
  right: 15px;
  color: #424343;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

#highload1+.lb1::after {
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 27px;
  height: 27px;
  background-color: white;
}

#highload1:checked+.lb1::before {
  content: attr(data-onlabel);
  left: 16px;
  right: auto;
  color: #fff;
}

#highload1:checked+.lb1::after {
  left: 83px;
  background-color: #f7f7f7;
}

#highload1+.lb1 {
  background-color: #ccc;
}

#highload1:checked+.lb1 {
  /*background-color: #424343;*/
  background-color: #00b1eb;
}

#highload1:checked+.lb1::before {
  color: #fff;
}

.editRow{
    color: #00b1eb;
}
.tr-edit{
    display: none;
}
.tr-edit-cell td{
    border: 1px solid #f1f1f1 !important;
}
.sttab {
    position: relative;
}

.parent-arrow {
    width: 1422px;
    position:relative;
    overflow:hidden;
}
.child-arrow {
    /*width: 3300px;*/
    width: 2100px;
    left:0;
}
.child-arrow-edit {
    min-width: 4100px !important;
    /*width: 4322px  !important;*/
}
.arrows {
    text-align: center;
    display: block;
    /*background: red;*/
    height: 100%;
    z-index: 1;
    position: absolute;
    width: 25px;
    cursor: pointer;
}
#parent-table {
    position: relative;
    display: grid;
}
.arrow-left {
    left: 0;
    transition: 0.3s;
}
.arrow-right {
    right: 0;
    transition: 0.3s;
}
.arrow-right:hover {
    /*background: linear-gradient(to right, #0000ff00, #e1eaf3);*/
    background: linear-gradient(to right, #0000ff00, rgb(0 0 0 / 10%));
    transition: 0.3s;
}
.arrow-left:hover {
    /*background: linear-gradient(to left, #0000ff00, #e1eaf3);*/
    background: linear-gradient(to left, #0000ff00, rgb(0 0 0 / 10%));
    transition: 0.3s;
}
.table {
    margin-bottom: 0;
}
#show_more{
    margin-top: 20px;
    display: inline-block;
    width: 127px;
    height: 34px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #00b1eb;
    border: none;
    color: #fff;
    transition: 0.3s;
}
#show_more:hover{
    background-color: #0099cb;
    color: #fff;
    transition: 0.3s;
}
.edit_input {
    display: block;
    font-size: 9px;
    background: #fff;
    outline: none !important;
    border: none;
    padding: 0px 10px;
    border-radius: 8px;
    color: #494e52;
    /*min-height: 32px;*/
    height: 24px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.no_edit_input{
  width: 50px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
.tab-card {
    font-size: 14px;
    margin-bottom: 12px;
}
.tab-card th{
    padding: 5px 8px !important;
    font-size: 14px;
}
.tab-card>tbody>tr>th {
    border-top: 2px solid #eef6ff !important;
}
.tab-contract a {
    font-size: 11px;
}
.avairs {
    width: 100%;
}
.avairs-tab{
    width: 100%;
    border: 1px solid #c9c9c9;
    border-bottom: none;
}
.avairs-tab1{
    width: 100%;
    border: 1px solid #c9c9c9;
    border-top: none;
}
.avairs-tab .small {
    width: 80px;
    height: 35px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    text-align: center;
}
.avairs-tab .small:hover,
.avairs-tab .big:hover{
    background: #dfeeff;
}

.avairs-2 .avairs-tab .small {
    width: 80px;
    height: 22px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
}
.avairs-2 .avairs-tab{
    border-bottom: 1px solid #c9c9c9 !important;
}
.avairs-2 .avairs-tab .no-aviary {
    width: 80px;
    height: 22px;
}
.avairs-tab .no-aviary {
    width: 80px;
    height: 35px;
    cursor: auto;
}
.avairs-tab .big {
    border: 1px solid #c9c9c9;
    cursor: pointer;
    text-align: center;
}
.avairs-tab .vertical {
    width: 35px !important;
    height: 80px !important;
}
.avairs-tab .house {
    width: 80px;
    height: 80px;
    border: 1px solid #c9c9c9;
    background: #d0d0d0;
    text-align: center;
}
.info-shelter {
    /*display: flex;*/
}
.info-shelter .tab-card {
    width: 39%;
    float: right;
}
.info-shelter .form-group {
    width: 59%;
    float: left;
    zoom: 0.7;
}
.info-shelter .form-group td{
    font-size: 15px;
}
.info-shelter .avairs-tab .small,
.info-shelter .avairs-tab .big{
    cursor: auto;
}
.info-shelter .avairs-tab .small:hover,
.info-shelter .avairs-tab .big:hover{
    background: none;
}
.tab-card-left {
    width: 56%;
    float: left;
}
.tab-card-right {
    width: 44%;
}
.child-arrow th,
.child-arrow td {
    font-size: 10px;
    padding: 2px 6px !important;
    border: 1px solid #b5b5b5 !important;
}
.child-arrow th {
    background: #fbfbfb;
}
.child-arrow .table-img {
    width: 40px;
    height: 40px;
}
.child-arrow .table-bordered>tbody>tr>td {
    border: 1px solid #b5b5b5 !important;
}
#content-right-table::-webkit-scrollbar,
#content-right::-webkit-scrollbar{
  width: 0;
}
#contract td{
    text-align: left;
}
#contract th{
    width: 225px;
}
#contract .table-hover>tbody>tr:hover {
    background-color: #fff;
}
.mob-filter-parent {
    display: block !important;
    height: auto !important;
}
.mob-filter {
    display: flex;
    padding-bottom: 10px !important;
}
.vertical-text{
  text-align: center;
  writing-mode: vertical-rl;
  transform: scale(-1);
}
.row-menu {
  display: block !important;
  height: auto !important;
  padding: 10px 4px 5px !important;
}
#apply_filter,
#reset_filter {
    height: 32px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #00b1eb;
    border: none;
    color: #fff;
    transition: 0.3s;
    margin-left: 9px;
    font-size: 13px;
}
#apply_filter:hover,
#reset_filter:hover{
    background-color: #0099cb;
    color: #fff;
    transition: 0.3s;
}

@media only screen and (max-width: 480px) {
  .tab-card-left {
      width: 100%;
  }
  .tab-card-right {
      width: 100%;
  }
  .info-shelter .tab-card {
      width: 100%;
  }
  .info-shelter .form-group {
      width: 100%;
  }
  .content-mobile .field-filter {
      min-height: 20px;
  }
  #apply_filter, #reset_filter {
      height: 21px;
      border-radius: 7px;
      cursor: pointer;
      background-color: #00b1eb;
      border: none;
      color: #fff;
      transition: 0.3s;
      margin-right: 9px;
      margin-left: 0;
      font-size: 10px;
      min-width: 110px;
  }
  .shelter {
    margin: 0 5px;
    padding: 0;
    text-align: left;
    font-size: 12px;
  }
}
.journal .add-row-class{
  background-color: #FFFFFF;
  padding: 10px;
  margin: 20px auto;
  border-radius: 15px;
}
.journal-input {
  display: block;
  font-size: 11px;
  background: #f0f0f0;
  outline: none !important;
  border: none;
  padding: 0px 10px;
  margin: 0 8px;
  border-radius: 8px;
  color: #494e52;
  min-height: 32px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  
}
.journal-input input{
  width: 100% !important;
}
.card_on_list{
  margin: 5px;
  background-color: #eeeeee;
  border-radius: 10px;
}
.card_on_list:hover{
  background-color: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
}
.indicator {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 60%;
    bottom: 60%;
    background-color: brown;
    border-radius: 50%;
    display: none;/*flex в зависимости от количества уведомлений*/
    justify-content: center;
    align-items: center;
}
.noti_count {
    color: aliceblue;
}
.base {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('../assets/images/icons-user-64.png');
    background-size: cover;
    background-position: right;
    position: relative;
    cursor: pointer;
}
.base {
  height: 38px;
  width: 38px;
}
.request_row img{
  max-width: 200px;
}
.request_row {
  border-style: solid;
  border-color: #0060aa;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
.card_on_list {
  background-color: #eeeeee;
  color: #000000;
}
.selected_card_on_list {
  background-color: #337ab7;
  color: #FFFFFF;
}
.journal .menu-table-min {
  background-color: #FFFFFF;
}
.journal input, 
.journal select, 
.journal textarea {
  font-size: 12px;
  padding: 0px 6px;
  margin-right: 8px;
  margin-left: 0;
  border-radius: 8px;
  background: #fff;
}
.journal .container-mobile{
  padding: 10px !important;
}
.journal-mobile-row {
  padding: 10px 15px !important;
  margin: 10px !important;
  background-color: #FFFFFF !important;
  border-radius: 8px;
}
.journal-mobile h3 {
  text-align: center;
}
.journal-mobile .head-table {
  height: auto;
  padding: 3px 15px 10px;
  background: none;
}
.journal-mobile h3 {
  text-align: center;
  padding: 0;
  font-size: 20px;
  margin: 0;
  font-weight: 500;
}
.journal-mobile .form-group {
  margin-bottom: 5px;
}
.journal-mobile .btn-default1 {
  border-radius: 7px;
  cursor: pointer;
  background-color: #00b1eb;
  border: none;
  color: #fff;
  margin-bottom: 15px;
  transition: 0.3s;
}
.journal-mobile .btn-default1:hover {
  background-color: #0099cb;
    color: #fff;
    transition: 0.3s;
}
.journal-mobile-row .block-head {
  display: flex;
  font-weight: 600;
  margin-bottom: 9px;
  line-height: 1.6;
}
.journal-mobile-row .id-color {
  margin-right: 10px;
}
.journal-input-gray {
  background: #f0f0f0 !important;
}