<footer>
    <section id="footer" class="hide-from-printer">
		<div class="container">
			<div class="row copyright-color">
				<div class="col-md-12">
					<div class="copyright">
						<ul class="clearfix">
							<li>© 2023 ООО "Пять звёзд" ОГРН 1083808014707</li>
							<li>Все права защищены</li>
							<li>Версия: <a href="template/version.php" rel="nofollow">изменения и исправления</a></li>
							<li>Время сервера: <?php echo date("Y-m-d\ H:i:s", time())." ".$_SESSION['timezone'];?></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
    <script src="/js/common.js"></script>  
</footer>
</body>
</html>